{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>
</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<!--logo add-->
			<div><a href="#"><img src="{% static 'image/SSLOGO.jpg' %}" alt="..." class="d-block w-75" style="height: 40px;"
				class="img-responsive logo"></a> </div>
	
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="home">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="configuration">Configuration</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="facilites">Facilites</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="profile">profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="notice">Notice</a>
					</li>


				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">


			</div>

			</form>
		</div>
		</div>
	</nav>



	<!--about as latter-->

	<div class="container my-4">
		<div class="card mb-2" style="max-width: 1500px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{% static 'image/gardan.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">SUN SIMPOLO</h5>
						<p class="card-text">Sun Simpolo is a project by Sun Builders
							in Ahmedabad,It is a Ready to Move project. Sun Simpolo  offers some of the most conveniently
							designed Apartment Located in Bopal, it is a residential project It has 224 units, There
							are 7 buildings in this
							project Sun Simpolo offers some of the most exclusive 1 BHK, 1.5 BHK. As per the
							area plan, units are in the size range of 585.0 - 720.0 sq.feet Launched in June 2015, Sun
							Simpolo
							is slated for possession in Jun  2017. The address of Sun Simpolo is Opp. Samprat Residency,
							Besides
							Neelkanth Villa, Bopal Shilaj Road, Bopal. <br>
							<br>


							Sun Simpolo ensures a coveted lifestyle and offers a convenient living. It offers facilities
							such as
							Lift, Power Backup. For families with kids, there is Children's Play Area, nearby apart from
							Indoor
							Game Room - Billiards/Snooker Table, Carom Board, Table Tennis, Foosball Table, Sports Area.
							There
							is 24x7 Security. <br>
							<br>

							Sun Builders is a reputed developer firm established in 1981. The firm has since then
							developed
							40
							projects and focuses on customer-centricity.

							Bopal is well-connected to other parts of city by road, which passes through the heart of
							this
							suburb. Prominent shopping malls, movie theatres, school, and hospitals are present in
							proximity
							of
							this residential project.
						</p>
						<p class="card-text"><small class="text-muted">Thanks for visit</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>




</body>

</html>